@charset "utf-8";

* {
    outline: 3px solid magenta;
    background-color: rgba(200, 200, 200, 0.171);
}

ul > li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

:root {
    --tamanho-foto: 300px
}

header {
    display: flex;
    flex-direction: row;
}

#nome-foto > div {
    display: inline-block;
    width: var(--tamanho-foto);
    height: var(--tamanho-foto);
    border-radius: 50%;  
    overflow: hidden;
}
#nome-foto img {
    width: 150%;
    height: 100%;
    object-position: cover;
}



